In [33]:
# Import necessary libraries
import pandas as pd
import json
from pandas.io.json import json_normalize
import numpy as np

In [59]:
# Load JSON file as Pandas dataframe
file = 'C:/Users/skisa/Desktop/data/world_bank_projects.json'
json_df = pd.read_json(file)

In [162]:
# Explore data
print(json_df.columns)
print(json_df.head())

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')
                                    _id  approvalfy board_approval_month  \
0  {'$oid': '52b213b38594d8a2be17c780'}        1999             November
1  {'$oid': '52b213b38594d8a2be17c781'}        2015             November
2  {'$oid': '52b213b38594d8a2be17c782'}        2014             November
3  {'$oid': '52b213b38594d8a2be17c783'}        2014              October
4  {'$oid': '52b213b38594d8a2be17c784'}        2014              October

      boardapprovaldate                                 borrower  \
0  2013-11-12T00:00:00Z  FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA
1  2013-11-04T00:00:00Z                    GOVERNMENT OF TUNISIA
2  2013-11-01T00:00:00Z   MINISTRY OF FINANCE AND ECONOMIC DEVEL
3  2013-10-31T00:00:00Z   MIN. OF PLANNING AND INT'L COOPERATION
4  2013-10-31T00:00:00Z                      MINISTRY OF FINANCE

            closingdate                              country_namecode  \
0  2018-07-07T00:00:00Z  Federal Democratic Republic of Ethiopia!$!ET
1                   NaN                      Republic of Tunisia!$!TN
2                   NaN                                   Tuvalu!$!TV
3                   NaN                        Republic of Yemen!$!RY
4  2019-04-30T00:00:00Z                       Kingdom of Lesotho!$!LS

  countrycode                              countryname    countryshortname  \
0          ET  Federal Democratic Republic of Ethiopia            Ethiopia
1          TN                      Republic of Tunisia             Tunisia
2          TV                                   Tuvalu              Tuvalu
3          RY                        Republic of Yemen  Yemen, Republic of
4          LS                       Kingdom of Lesotho             Lesotho

   ...   sectorcode source  status  supplementprojectflg  \
0  ...  ET,BS,ES,EP   IBRD  Active                     N
1  ...        BZ,BS   IBRD  Active                     N
2  ...           TI   IBRD  Active                     Y
3  ...           JB   IBRD  Active                     N
4  ...     FH,YW,YZ   IBRD  Active                     N

                                              theme1  \
0      {'Percent': 100, 'Name': 'Education for all'}
1  {'Percent': 30, 'Name': 'Other economic manage...
2    {'Percent': 46, 'Name': 'Regional integration'}
3  {'Percent': 50, 'Name': 'Participation and civ...
4  {'Percent': 30, 'Name': 'Export development an...

                                      theme_namecode    themecode   totalamt  \
0      [{'code': '65', 'name': 'Education for all'}]           65  130000000
1  [{'code': '24', 'name': 'Other economic manage...        54,24          0
2  [{'code': '47', 'name': 'Regional integration'...  52,81,25,47    6060000
3  [{'code': '57', 'name': 'Participation and civ...        59,57          0
4  [{'code': '45', 'name': 'Export development an...        41,45   13100000

  totalcommamt                                                url
0    130000000  http://www.worldbank.org/projects/P129828/ethi...
1      4700000  http://www.worldbank.org/projects/P144674?lang=en
2      6060000  http://www.worldbank.org/projects/P145310?lang=en
3      1500000  http://www.worldbank.org/projects/P144665?lang=en
4     13100000  http://www.worldbank.org/projects/P144933/seco...

[5 rows x 50 columns]

In [67]:
# Question 1: Find the 10 countries with most projects

# Control all id column is unique
print(json_df['id'].is_unique)

# Group by countryname column and count id column
countries = json_df.groupby('countryname')['id'].count().sort_values(ascending = False)
top10_countries = countries.head(10)
top10_countries

True

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: id, dtype: int64

In [130]:
# Question 2: Find the top 10 major project themes (using column 'mjtheme_namecode')

# Explore mjtheme_namecode column
json_df['mjtheme_namecode'].head()

# load json as string
data = json.load((open(file)))

# Use normalization to create tables from nested mjtheme_namecode column
project_themes_df = json_normalize(data, 'mjtheme_namecode')

# Group by name column and count code column
project_themes = project_themes_df.groupby('name')['code'].count().sort_values(ascending = False)
top10_project_themes = project_themes.head(10)
top10_project_themes

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: code, dtype: int64

In [154]:
# Question 3: In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

# Notice that some entries have only code and name is missing.
project_themes_df[['name','code']].head(20)

# Replace all missing values with NaN
project_themes_df = project_themes_df.replace('',np.nan)

# Sort dataframe by code and forwardfill all Nan entries
sorted_code = project_themes_df.sort_values(by='code',ascending=True)
filling_project_themes = sorted_code.fillna(method = 'ffill')

# Group by name column and count code column
sorted_project_themes = filling_project_themes.groupby('name')['code'].count().sort_values(ascending = False)
top10_project_themes = sorted_project_themes.head(10)
top10_project_themes

name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: code, dtype: int64